
/*** animation apparition menu ****/

.menu_card{
    animation: menu 1500ms backwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: (1500ms/10) * $i;
}
    }
}

@keyframes menu {

    0%{
        transform: translate(0,100px);
        opacity: -1;
    }
    
}

/***** animation loader*****/

.loader {
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;
    animation: loader 3s forwards;
    pointer-events: none;

}

.middle-dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient($main-color,$second-color);
    transform-origin: center;
    animation: rotate 2s ease forwards infinite
}

.dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    
}

.dot-1{
left: -100px;
animation: slideleft 2s ease forwards infinite;

}

.dot-2{
    left: 100px;
    top:-50px;
    animation: slideright 2s ease forwards infinite;
}


@keyframes loader {

    0%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

@keyframes rotate {

    0%{
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes slideleft {
    0%{
        background: $main-color;
        transform: translateX(0px);
    }
    25%{
        background: $second-color;
        transform: translateX(-100px);
    }
    50%{
        background: $main-color;
        transform: translateX(0px);
    }
    100%{
        background: $second-color;

    }
}

@keyframes slideright {
    0%{
        background: $main-color;
        transform: translateX(0px);
    }
    25%{
        background: $second-color;
        transform: translateX(100px);
    }
    50%{
        background: $main-color;
        transform: translateX(0px);
    }
    100%{
        background: $second-color;

    }
}


/****** animation du coeur ****/ 


.full-heart:hover{
    
    color: transparent;
    background-clip: text;
    background-image: linear-gradient($main-color,$second-color);
    animation: fill-complete 500ms forwards;
    line-height: 1;
   
}



@keyframes fill-complete {
    0%{
        opacity: 0;
    }
    50%{
      
        opacity: 0.5;
        
    }
    100%{
       
        opacity: 1;
        
    }
    
}



/******animation slide vert *****/


.menu_card--content:hover {
    animation: decalagegauche .3s linear 0s 1 both;
}

.decalage{
    display: flex;
    margin-right:-66px;
    animation: decalagedroite .3s linear 0s 1 both;
    .prix{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
        padding-left: 15px;
        margin-bottom: 10px;
    } 
}


@keyframes decalagedroite {
    from{
        margin-right: 0;
    }
    to{
        margin-right: -66px;
    }
}

@keyframes decalagegauche {
    from{
        margin-right: -66px;
    }
    to{
        margin-right: 0;
    }
}