.photo_restaurant{
    object-fit: cover;
    width: 100%;
    height: 18em;
}

.menu_header--title{
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
}


.border_green {
    border-bottom: solid 3px #99E2D0;
    padding-bottom: 5px;
    font-weight: lighter;
}

.menu_title{
    margin-bottom: 30px;
    margin-top: 30px;
}
 .menu_radius {
    background-color: $background-color;
    position: relative;
    top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @media (min-width:967px){
        margin-left: 150px;
        margin-right: 150px;
    }
}
   .menu{
    margin-right: 15px;
    margin-left: 15px;

    &_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px 20px 0px 20px;
        @media (min-width:967px){
            justify-content: center;

        }
    }
   
    &_card{
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0px 0px 10px 0px rgba(111,111,111,0.5);
        display: flex;

        &--content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 3px;
        }
    }


    
    .heart{
        position: relative;
        margin-left: 20px;
        top:-12px;
       
       }
    
       .fa-heart{
        position: absolute;
        font-size: 25px;
       }
    
       .full-heart{
        opacity: 0;
    
       }
}