.photo_restaurant{
    object-fit: cover;
    width: 100%;
    height: 18em;
}

.menu_header--title{
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
}


.border_green {
    border-bottom: solid 3px #99E2D0;
    padding-bottom: 5px;
    font-weight: lighter;
}

.menu_title{
    margin-bottom: 30px;
    margin-top: 30px;
}
 .menu_radius {
    background-color: $background-color;
    position: relative;
    top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @media (min-width:967px){
        margin-left: 280px;
        margin-right: 280px;
    }
}
   .menu{
    margin-right: 15px;
    margin-left: 15px;

    &_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px 20px 0px 20px;
        @media (min-width:967px){
            justify-content: center;

        }
    }
   
    &_card{
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        height: 60px;
        box-shadow: 0px 0px 10px 0px rgba(111,111,111,0.5);
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        &:hover{
            & > .menu_card--content{
                width:70%;
            }
        }

        &--content{
            display: flex;
            flex-direction:column;
            flex-grow: 2;
            padding-top: 10px;
            overflow: hidden;
            p ,h3 {
                text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
            }  
        }
    }

    .price{
        margin-top: 40px;
    }
    

    /****3 point de suspension texte****/

  

    /****slide vert*////

    .fa-circle-check{
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        top: 30px;
        font-size: 20px;
    }



    /*****coeur*////
    
}
    .heart{
        position: relative;
        margin-left: 20px;
        top:-12px;
       
       }
    
       .fa-heart{
        position: absolute;
        font-size: 25px;
       }
    
       .full-heart{
        opacity: 0;
    
       }
    


    .btn_commande{
        padding-left: 30px;
        padding-right: 30px;
    }