.recherche{
    background-color: $background-color;
    &_saisie{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 10%;
        .saisie{
            font-size: large;
            border: none;
            background-color: $background-color;
            text-align: center;
        }
    }
    h1,p{
        text-align: center;
        margin:20px;
    }
}

p{
    font-weight: lighter;
}

.btn {
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;}
.btn_gradient_round{
        border-radius: 30px;
        padding: 15px;
        background:linear-gradient(to bottom right,$second-color,$main-color);
        color: white;
        border: none;
        box-shadow: 2px 2px 4px grey;
        cursor: pointer;
        &:hover{
           background: linear-gradient(
                        356deg,
                        lighten($main-color, 5%) 0%,
                         lighten($second-color, 5%)80%,
                          );
                }
         
        }