.fonctionnement {
    margin-left: 20px;

    h2{
        margin-top: 80px;
        margin-bottom: 40px;
        @media (min-width:967px){
            margin-left: 70px;
        }
    }
    &_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    &_content--box{
        background-color: $background-color;
        border-radius: 20px;
        width: 21em;
        height: 4.5em;
        margin-bottom: 20px;
        margin-right: 30px;
        display: flex;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
        &--numero{
            background-color: $main-color;
            border-radius: 50%;
            color: white;
            display: flex;
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            left: -0.6em;
            top: 1.8em;
            justify-content: center;
        }
        &--img{
            color: #7E7E7E;
            position: relative;
            top: 30px;
            left: 50px;
            .purple{
                color: $main-color;
            }
        }
        &--text{
            padding: 20px;
            margin-left: 60px;
        }
    }
    
}