.restaurant{
    background-color: $background-color;
    h2{
        padding-bottom: 50px;
        padding-top: 50px;
        margin-left: 20px;
        @media (min-width:967px) {
            margin-left: 90px;
        }
    }
  .restaurant-list{
    @media (min-width:967px ) {
        display: flex;
        flex-wrap: wrap;
        margin-right: 40px;
        margin-left: 40px;
    }
  }
    .restaurant_card{
        
        width: 85%;
        height: 17.5em;
        margin: auto; 
        @media (min-width:967px) {
            width: 40%;
        } 
        
        &--img--new{
            background-color: $third-color;
            color: #008766;
            position: relative;
            padding: 5px;
            top: -230px;
            right: -75%;
            border-radius: 2px;
        }
        

        .image{
            object-fit: cover;
            width: 100%;
            height: 11em;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
        &--content{
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: space-between;
            &--text{
                margin: 15px 0px 20px 10px;
                &--subtitle{
                    margin-top: 5px;
                } 
            }
            
        }
        
    }
}

.heart-index {
    position: relative;
    top: 20px;
    right: 50px;
}