* {
  font-family: "roboto", sans-serif;
  margin: 0;
  font-weight: normal;
}

.main {
  box-sizing: content-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  padding-bottom: 20px;
  margin-top: 20px;
  /*box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
  position: relative;*/
  border-bottom: 3px solid #EAEAEA;
}
header .logo {
  margin: auto;
}

.recherche {
  background-color: #F6F6F6;
}
.recherche_saisie {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 10%;
}
.recherche_saisie .saisie {
  font-size: large;
  border: none;
  background-color: #F6F6F6;
  text-align: center;
}
.recherche h1, .recherche p {
  text-align: center;
  margin: 20px;
}

p {
  font-weight: lighter;
}

.btn {
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
.btn_gradient_round {
  border-radius: 30px;
  padding: 15px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px grey;
  cursor: pointer;
}

.fonctionnement h2 {
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.fonctionnement_content {
  display: flex;
  flex-wrap: wrap;
}
.fonctionnement_content--box {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 21em;
  height: 4.5em;
  margin: 0px 0px 20px 40px;
  display: flex;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
}
.fonctionnement_content--box--numero {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -0.6em;
  top: 1.8em;
  justify-content: center;
}
.fonctionnement_content--box--img {
  color: #7E7E7E;
  position: relative;
  top: 30px;
  left: 50px;
}
.fonctionnement_content--box--img .purple {
  color: #9356DC;
}
.fonctionnement_content--box--text {
  padding: 20px;
  margin-left: 60px;
}

.restaurant {
  background-color: #F6F6F6;
}
.restaurant h2 {
  margin: 30px;
  padding-top: 50px;
}
.restaurant .restaurant_card {
  width: 85%;
  height: 17.5em;
  margin: auto;
}
.restaurant .restaurant_card .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 11em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .restaurant_card--content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurant .restaurant_card--content--text {
  margin: 15px 0px 20px 10px;
}
.restaurant .restaurant_card--content--text--subtitle {
  margin-top: 5px;
}
.restaurant .restaurant_card--content--heart {
  margin: 10px 20px 0px 0px;
}

footer {
  background-color: #353535;
}
footer .footer_logo {
  width: 8em;
  height: 3em;
  margin: 15px 0px 15px 20px;
  filter: invert(100%);
}
footer .footer_content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .footer_content a {
  color: white;
}
footer .footer_content--text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .footer_content--icon {
  color: white;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */