* {
  font-family: "roboto", sans-serif;
  margin: 0;
  font-weight: normal;
}

.main {
  box-sizing: content-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  padding-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}
header .header_arrow {
  margin-left: 20px;
}
header .logo {
  margin: auto;
}

footer {
  background-color: #353535;
}
footer .footer_logo {
  width: 8em;
  height: 3em;
  margin: 15px 0px 15px 20px;
  filter: invert(100%);
}
@media (min-width: 967px) {
  footer .footer_logo {
    margin-right: 50px;
  }
}
footer .footer_content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media (min-width: 967px) {
  footer .footer_content {
    flex-direction: row;
    margin-right: 40px;
  }
}
footer .footer_content a {
  color: white;
}
footer .footer_content--text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 967px) {
  footer .footer_content--text {
    margin-right: 20px;
  }
}
footer .footer_content--icon {
  color: white;
  margin-right: 10px;
}
@media (min-width: 967px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}

.fonctionnement {
  margin-left: 20px;
}
.fonctionnement h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}
@media (min-width: 967px) {
  .fonctionnement h2 {
    margin-left: 70px;
  }
}
.fonctionnement_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement_content--box {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 21em;
  height: 4.5em;
  margin-bottom: 20px;
  margin-right: 30px;
  display: flex;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
}
.fonctionnement_content--box--numero {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -0.6em;
  top: 1.8em;
  justify-content: center;
}
.fonctionnement_content--box--img {
  color: #7E7E7E;
  position: relative;
  top: 30px;
  left: 50px;
}
.fonctionnement_content--box--img .purple {
  color: #9356DC;
}
.fonctionnement_content--box--text {
  padding: 20px;
  margin-left: 60px;
}

.recherche {
  background-color: #F6F6F6;
}
.recherche_saisie {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 10%;
}
.recherche_saisie .saisie {
  font-size: large;
  border: none;
  background-color: #F6F6F6;
  text-align: center;
}
.recherche h1, .recherche p {
  text-align: center;
  margin: 20px;
}

p {
  font-weight: lighter;
}

.btn {
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.btn_gradient_round {
  border-radius: 30px;
  padding: 15px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px grey;
  cursor: pointer;
}
.btn_gradient_round:hover {
  background: linear-gradient(356deg, #a16be0 0%, #ff93e1 80%);
}

.restaurant {
  background-color: #F6F6F6;
}
.restaurant h2 {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 20px;
}
@media (min-width: 967px) {
  .restaurant h2 {
    margin-left: 90px;
  }
}
@media (min-width: 967px) {
  .restaurant .restaurant-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 40px;
  }
}
.restaurant .restaurant_card {
  width: 85%;
  height: 17.5em;
  margin: auto;
}
@media (min-width: 967px) {
  .restaurant .restaurant_card {
    width: 40%;
  }
}
.restaurant .restaurant_card .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 11em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .restaurant_card--content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurant .restaurant_card--content--text {
  margin: 15px 0px 20px 10px;
}
.restaurant .restaurant_card--content--text--subtitle {
  margin-top: 5px;
}
.restaurant .restaurant_card--content--heart {
  margin: 10px 20px 0px 0px;
}

.photo_restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 18em;
}

.menu_header--title {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
}

.border_green {
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
  font-weight: lighter;
}

.menu_title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.menu_radius {
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (min-width: 967px) {
  .menu_radius {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.menu {
  margin-right: 15px;
  margin-left: 15px;
}
.menu_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 20px 0px 20px;
}
@media (min-width: 967px) {
  .menu_header {
    justify-content: center;
  }
}
.menu_card {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.5);
  display: flex;
}
.menu_card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}
.menu .heart {
  position: relative;
  margin-left: 20px;
  top: -12px;
}
.menu .fa-heart {
  position: absolute;
  font-size: 25px;
}
.menu .full-heart {
  opacity: 0;
}

/*** animation apparition menu ****/
.menu_card {
  animation: menu 1500ms backwards;
}
.menu_card--1 {
  animation-delay: 150ms;
}
.menu_card--2 {
  animation-delay: 300ms;
}
.menu_card--3 {
  animation-delay: 450ms;
}
.menu_card--4 {
  animation-delay: 600ms;
}
.menu_card--5 {
  animation-delay: 750ms;
}
.menu_card--6 {
  animation-delay: 900ms;
}
.menu_card--7 {
  animation-delay: 1050ms;
}
.menu_card--8 {
  animation-delay: 1200ms;
}
.menu_card--9 {
  animation-delay: 1350ms;
}
.menu_card--10 {
  animation-delay: 1500ms;
}

@keyframes menu {
  0% {
    transform: translate(0, 100px);
    opacity: -1;
  }
}
/***** animation loader*****/
.loader {
  background-color: white;
  position: fixed;
  z-index: 100;
  width: 100dvw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  animation: loader 3s forwards;
  pointer-events: none;
}

.middle-dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  transform-origin: center;
  animation: rotate 2s ease forwards infinite;
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.dot-1 {
  left: -100px;
  animation: slideleft 2s ease forwards infinite;
}

.dot-2 {
  left: 100px;
  top: -50px;
  animation: slideright 2s ease forwards infinite;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideleft {
  0% {
    background: #9356DC;
    transform: translateX(0px);
  }
  25% {
    background: #FF79DA;
    transform: translateX(-100px);
  }
  50% {
    background: #9356DC;
    transform: translateX(0px);
  }
  100% {
    background: #FF79DA;
  }
}
@keyframes slideright {
  0% {
    background: #9356DC;
    transform: translateX(0px);
  }
  25% {
    background: #FF79DA;
    transform: translateX(100px);
  }
  50% {
    background: #9356DC;
    transform: translateX(0px);
  }
  100% {
    background: #FF79DA;
  }
}
/****** animation du coeur ****/
.full-heart:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  animation: fill-complete 500ms forwards;
  line-height: 1;
}

@keyframes fill-complete {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/******animation slide vert *****/
.menu_card--content:hover {
  animation: decalagegauche 0.3s linear 0s 1 both;
}

.decalage {
  display: flex;
  margin-right: -66px;
  animation: decalagedroite 0.3s linear 0s 1 both;
}
.decalage .prix {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 10px;
}

@keyframes decalagedroite {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -66px;
  }
}
@keyframes decalagegauche {
  from {
    margin-right: -66px;
  }
  to {
    margin-right: 0;
  }
}/*# sourceMappingURL=style_main.css.map */