*{
    font-family: 'roboto', sans-serif;
    margin: 0;
    font-weight: normal;
}

.main{
    box-sizing: content-box;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

$main-color : #9356DC;
$second-color: #FF79DA ;
$third-color : #99E2D0; 
$background-color : #F6F6F6;
$footer-color :#353535;


header{
    display: flex;
    padding-bottom: 20px;
    margin-top: 20px;
    /*box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    position: relative;*/
    border-bottom: 3px solid #EAEAEA;
    
    .logo{
        margin: auto;
    }
}

.recherche{
    background-color: $background-color;
    &_saisie{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 10%;
        .saisie{
            font-size: large;
            border: none;
            background-color: $background-color;
            text-align: center;
        }
    }
    h1,p{
        text-align: center;
        margin:20px;
    }
}

p{
    font-weight: lighter;
}

.btn {
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;}
.btn_gradient_round{
        border-radius: 30px;
        padding: 15px;
        background:linear-gradient(to bottom right,$second-color,$main-color);
        color: white;
        border: none;
        box-shadow: 2px 2px 4px grey;
        cursor: pointer;
        &:hover{
            background: linear-gradient(
  356deg,
  lighten($main-color, 5%) 0%,
  lighten($second-color, 5%)80%,
);
        }
        
        }
    


.fonctionnement {
    margin-left: 20px;

    h2{
        margin-top: 80px;
        margin-bottom: 40px;
        @media (min-width:967px){
            margin-left: 70px;
        }
    }
    &_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    &_content--box{
        background-color: $background-color;
        border-radius: 20px;
        width: 21em;
        height: 4.5em;
        margin-bottom: 20px;
        margin-right: 30px;
        display: flex;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
        &--numero{
            background-color: $main-color;
            border-radius: 50%;
            color: white;
            display: flex;
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            left: -0.6em;
            top: 1.8em;
            justify-content: center;
        }
        &--img{
            color: #7E7E7E;
            position: relative;
            top: 30px;
            left: 50px;
            .purple{
                color: $main-color;
            }
        }
        &--text{
            padding: 20px;
            margin-left: 60px;
        }
    }
    
}

.restaurant{
    background-color: $background-color;
    h2{
        padding-bottom: 50px;
        padding-top: 50px;
        margin-left: 20px;
        @media (min-width:967px) {
            margin-left: 90px;
        }
    }
  .restaurant-list{
    @media (min-width:967px ) {
        display: flex;
        flex-wrap: wrap;
        margin-right: 40px;
        margin-left: 40px;
    }
  }
    .restaurant_card{
        
        width: 85%;
        height: 17.5em;
        margin: auto; 
        @media (min-width:967px) {
            width: 40%;
        }      

        .image{
            object-fit: cover;
            width: 100%;
            height: 11em;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
        &--content{
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: space-between;
            &--text{
                margin: 15px 0px 20px 10px;
                &--subtitle{
                    margin-top: 5px;
                } 
            }
            &--heart{
                margin:10px 20px 0px 0px;
            }
        }
        
    }
}


footer{
    background-color: $footer-color;

    .footer_logo{
        width: 8em;
        height: 3em;
        margin: 15px 0px 15px 20px;
        filter: invert(100%);
        @media (min-width:967px) {
            margin-right: 50px;
        }
    }
    .footer_content{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        @media (min-width:967px) {
            flex-direction: row;
            margin-right: 40px;
        }
        a{
            color: white;
        }
        &--text{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            @media( min-width:967px) {
                margin-right: 20px;
            }
        }
        &--icon{
            color: white;
            margin-right: 10px;
        }
    }

    @media (min-width:967px) {
        display: flex;
        flex-direction: row-reverse;
    }

}
