*{
    font-family: 'roboto', sans-serif;
    margin: 0;
}

$main-color : #9356DC;
$second-color: #FF79DA ;
$third-color : #99E2D0; 
$background-color : #F6F6F6;

header{
    display: flex;
    padding-bottom: 20px;
    margin-top: 20px;
    /*box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    position: relative;*/
    border-bottom: 3px solid #EAEAEA;
    
    .logo{
        margin: auto;
    }
}

.recherche{
    background-color: $background-color;
    &_saisie{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 10%;
        .saisie{
            font-size: large;
            border: none;
            background-color: $background-color;
            text-align: center;
        }
    }
    h1,p{
        text-align: center;
        margin:20px;
    }
}

p{
    font-weight: lighter;
}

.btn {
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    &_gradient_round{
        border-radius: 30px;
        padding: 15px;
        background: linear-gradient(to bottom right,$second-color,$main-color);
        color: white;
        border: none;
        box-shadow: 2px 2px 4px grey;
        cursor: pointer;
    }

}

.fonctionnement {

    h2{
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 40px;
    }
    &_content{
        display: flex;
        flex-wrap: wrap;
    }
    &_content--box{
        background-color: $background-color;
        border-radius: 20px;
        width: 21em;
        height: 4.5em;
        margin: 0px 0px 20px 40px;
        display: flex;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
        &--numero{
            background-color: $main-color;
            border-radius: 50%;
            color: white;
            display: flex;
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            left: -0.6em;
            top: 1.8em;
            justify-content: center;
        }
        &--img{
            color: #7E7E7E;
            position: relative;
            top: 30px;
            left: 50px;
            .purple{
                color: $main-color;
            }
        }
        &--text{
            padding: 20px;
            margin-left: 60px;
        }
    }
    
}

